*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}   

body{
 background-color: antiquewhite;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container{
  border: 1px solid black;
  text-align: center;
  background-color: antiquewhite;
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0);
  border-radius: 20px;
}

h1{
  font-size: 2rem;
  width: 600;
  margin-bottom: 10px;
  font-weight: bold;
}

.age-label{
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.age-input{
  border-radius: 10px;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
 font-size: 1.2rem;
 padding: 10px;
 border: none;
 background-color: azure;
}

.age-btn{

  border-radius: 10px;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
 font-size: 1.2rem;
 padding: 10px;
 border: none;
 background-color: black;
 color: white;
 
}
.age-btn:hover{
  cursor: pointer;
  background-color: brown;

}

.age-input:hover{
  cursor: pointer;
  background-color: darkgray;
}

p{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}